.section-about {
    background-color: $light-bg-color;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section__features {
    padding: 20rem 0;
    background: linear-gradient(to right bottom, rgba($primary-color-dark, 0.8), rgba($primary-color, 0.8)), url("../img/hero.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    &>* {
        transform: skewY(7deg);
    }
}

.section__courses {
    background-color: $light-bg-color;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-book {
    padding: 25rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-dark, $primary-color-light);
}

.book {
    background-image: linear-gradient(105deg, rgba($white-color, .9) 0%, rgba($white-color, .9)50%, transparent 50%), url(/img/nat-10.jpg);
    background-size: 100%;
    height: 50rem;
}