.header {
    height: 95vh;
    background: linear-gradient(to right bottom, rgba($primary-color-dark, 0.8), rgba($primary-color, 0.8)), url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    &__log-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3rem;
    }
    &__main_box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    @include respond (phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
}

.main-heading {
    color: $white-color;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }
    &--sub {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}