.btn,
.btn:link,
.btn:visited {
    font-size: $general-font-size;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.btn--white {
    background-color: $white-color;
    color: $text-color;
}

.btn--white:hover,
.btn--white:active {
    background-color: $primary-color-dark;
    color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn--diff {
    background-color: $primary-color-dark;
    color: $white-color;
}

.btn--diff:hover,
.btn--diff:active {
    background-color: $white-color;
    color: $primary-color-dark;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-text {
    &:link,
    &:visited {
        color: $secondary-color-dark;
        font-size: $general-font-size;
        text-decoration: none;
        display: inline-block;
        border-bottom: 1px solid $secondary-color-dark;
        padding: 3px;
        transition: all 1s;
        text-transform: capitalize;
    }
    &:hover {
        color: $white-color;
        background-color: $secondary-color-dark;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($dark-color, .15);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 .5rem 1rem rgba($dark-color, .15);
    }
}