.btn:link,
.btn:visited {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
}

.btn--white {
    background-color: #FFF;
    color: $text-color;
}

.btn-text {
    &:link,
    &::visited {
        color: $text-color;
    }
}