.story {
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 6rem;
    padding-left: 9rem;
    box-shadow: 0 3rem 6rem rgba($dark-color, .1);
    background-color: rgba($white-color, .6);
    transform: skewx(-12deg);
    @include respond (tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond (phone) {
        transform: skewx(0);
    }
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewx(12deg);
        position: relative;
        @include respond (phone) {
            transform: translateX(-3rem) skewx(0);
        }
    }
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7rem;
        color: $white-color;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &__text {
        transform: skewx(12deg);
        @include respond (phone) {
            transform: translateX(-3rem) skewx(0);
        }
    }
    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}