*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px hence 10px/16px = 62.5%
    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px hence 9px/16px = 56.25%
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px hence 8px/16px = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px hence 12px/16px = 75%
    }
}

body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: $general-font-size;
    line-height: 1.7;
    color: $text-color;
    margin: 3rem;
    box-sizing: border-box;
    @include respond(tab-port) {
        margin: 0;
    }
}

::selection {
    background-color: $primary-color-dark;
    color: $white-color;
}