@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//break point manager 

/*

0px - 600px = phone break points
600px - 900px = tablet break points
900px - 1200px = landscape tablets 

1200px to 1800px = desctop break points

1800px to infinity for big screens


*/


/*
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px


*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }
        ;
        //600px/16 = 37.5em
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }
        ;
        //900px/16 = 56.35em
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }
        ;
        //1200px/16 = 75em
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }
        ;
        //1800px/16 = 112.5em
    }
}