//colors
$dark-green:#28b485;
$medium-green:#55c57a;
$light-green:#7ed56f;
$white-color:#fff;
$light-grey-1:#f7f7f7;
$text-color:#111;
//grid variables
$grid_width:114rem;
$gutter_vertical:8rem;
$gutter_horizontal:6rem;